<!doctype html>
<html ng-app="app">
  <meta charset="utf-8">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  </head>
  <body>

    <label>
      Pesquisar: <input type="search" ng-model="busca" />
    </label>

    <div ng-controller="CtrlLista">

      Pessoas:
      <select ng-model="selected" ng-options="pessoa.nome for pessoa in pessoas | filter:busca">
          <option value="">Selecione alguem</option>
      </select>

      <hr />

      <div>
        <label>
          Nome: <input type="text" ng-model="selected.nome" />
        </label>
        <label>
          Cidade: <input type="text" ng-model="selected.cidade" />
        </label>
      </div>

    </div>

    <script>
      var myApp = angular.module('app', []);

      myApp.controller('CtrlLista', function($scope){

        $scope.pessoas = [
          {nome: 'Maria', cidade: 'São Paulo'},
          {nome: 'João', cidade: 'Salvador'},
          {nome: 'Tico', cidade: 'Curituba'},
          {nome: 'Marta', cidade: 'Pirapora'}
        ];

      });
    </script>

  </body>
</html>
